apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pvr.fullname" . }}
  labels:
    {{- include "pvr.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.postgres.enabled }}
  database-url: {{ printf "pgsql://%s:%s@%s-postgres/%s?serverVersion=16&charset=utf8" .Values.postgres.userDatabase.user.value .Values.postgres.userDatabase.password.value .Release.Name .Values.postgres.userDatabase.name.value | b64enc | quote }}
  {{- else }}
  database-url: {{ .Values.postgres.url | default "" | b64enc | quote }}
  {{- end }}
  {{- if or .Values.mongodb.enabled .Values.mongodb.url }}
  mongodb-url: {{ .Values.mongodb.url | default (printf "mongodb://%s:%s@%s-mongodb:27017/%s" .Values.mongodb.userDatabase.user .Values.mongodb.userDatabase.password .Release.Name .Values.mongodb.userDatabase.name) | b64enc | quote }}
  {{- end }}
  {{- if or .Values.redis.enabled .Values.redis.url }}
  redis-url: {{ .Values.redis.url | default (printf "redis://%s-redis:6379" .Release.Name) | b64enc | quote }}
  {{- end }}
  php-app-secret: {{ .Values.php.appSecret | default (randAlphaNum 40) | b64enc | quote }}

