apiVersion: skaffold/v4beta4
kind: Config
metadata:
  name: pvr
build:
  artifacts:
    - image: pvr-php
      context: ../
      docker:
        target: frankenphp_prod
    # - image: pvr-pwa
    #   context: ../pwa
    #   docker:
    #     target: prod

deploy:
  kubeContext: minikube
  helm:
    releases:
    - name: pvr
      chartPath: ./pvr
      namespace: default
      setValueTemplates:
        php.image.repository: "{{.IMAGE_REPO_pvr_php}}"
        php.image.tag: "{{.IMAGE_TAG_pvr_php}}@{{.IMAGE_DIGEST_pvr_php}}"
        # pwa.image.repository: "{{.IMAGE_REPO_pvr_pwa}}"
        # pwa.image.tag: "{{.IMAGE_TAG_pvr_pwa}}@{{.IMAGE_DIGEST_pvr_pwa}}"
      valuesFiles:
        - skaffold-values.yaml
